
button{
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: .5rem;
}

.header-class-buttons {
  display: flex;

  align-items: center;
  padding: .5rem
  ;
}

.icons {
  padding: .5rem;
}

.top {
  width: 100%;

  background-color: cornflowerblue;
}
/* 
.body-section {
  width: 80%;
  height: 15rem;
} */

.body-words {
  /* height: auto;
  width: 70%; */
  padding: .5rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.text-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-get {
  height: 3rem;
  width: 10rem;
}
/*         For notes page          */
.saved-notes{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 1px solid black;
  height: 100vh;
}

.note-body{
  display: flex;
  flex-direction: row;
}

.notes-now {
  display: flex;
  justify-content: center;
}